            <div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
<div class="card col-sm-4">
                <h3>Box</h3>
                <div><strong>Author:</strong> <a href="#">Michael Germini</a></div>

                <p>
                    Angular 2.0.
                </p>
                <p> In this article I will show how to use Angular 2.0.</p>

                <div class="card-footer">
                    <div>
                        <a href="#">Read Full Article</a>
                    </div>
                    <div>
                        <div><a href="http://upframe.com">Live Demo</a></div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-4">
                <h3>Box</h3>
                <div><strong>Author:</strong> <a href="#">Michael Germini</a></div>

                <p>
                    Angular 2.0.
                </p>
                <p> In this article I will show how to use Angular 2.0.</p>

                <div class="card-footer">
                    <div>
                        <a href="#">Read Full Article</a>
                    </div>
                    <div>
                        <div><a href="http://upframe.com">Live Demo</a></div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-4">
                <h3>Box</h3>
                <div><strong>Author:</strong> <a href="#">Michael Germini</a></div>

                <p>
                    Angular 2.0.
                </p>
                <p> In this article I will show how to use Angular 2.0.</p>

                <div class="card-footer">
                    <div>
                        <a href="#">Read Full Article</a>
                    </div>
                    <div>
                        <div><a href="http://upframe.com">Live Demo</a></div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-4">
                <h3>Box</h3>
                <div><strong>Author:</strong> <a href="#">Michael Germini</a></div>

                <p>
                    Angular 2.0.
                </p>
                <p> In this article I will show how to use Angular 2.0.</p>

                <div class="card-footer">
                    <div>
                        <a href="#">Read Full Article</a>
                    </div>
                    <div>
                        <div><a href="http://upframe.com">Live Demo</a></div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-4">
                <h3>Box</h3>
                <div><strong>Author:</strong> <a href="#">Michael Germini</a></div>

                <p>
                    Angular 2.0.
                </p>
                <p> In this article I will show how to use Angular 2.0.</p>

                <div class="card-footer">
                    <div>
                        <a href="#">Read Full Article</a>
                    </div>
                    <div>
                        <div><a href="http://upframe.com">Live Demo</a></div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-4">
                <h3>Box</h3>
                <div><strong>Author:</strong> <a href="#">Michael Germini</a></div>

                <p>
                    Angular 2.0.
                </p>
                <p> In this article I will show how to use Angular 2.0.</p>

                <div class="card-footer">
                    <div>
                        <a href="#">Read Full Article</a>
                    </div>
                    <div>
                        <div><a href="http://upframe.com">Live Demo</a></div>
                    </div>
                </div>
            </div>
</div>