<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
        </div>
        <div class="row"  >
            <div class="text-center">EXPÉRIENCES PROFESSIONNELLES</div>
            <br />
            <div class="text-center">Radio Télévision Suisse (rts.ch)</div>
            <div class="text-center">Jan 2002 – Feb 2016 (Genève)</div>
            <div class="text-center">Ces dernières années, j’ai notamment organisé,</div>
             <div class="text-center">mis en place et coordonné la maintenance et les services Internet.</div>
            </div>
            <br />
<div style="background-color:#CFCFCF;color:white;padding:20px;">
  <h4>Contacts</h4>
   <br />
            <div class="text-center"><a class="disabled" href="mailto:michael@germini.info" target="_top">michael@germini.info</a></div> 
            <div class="text-center"><a class="disabled" href="tel:0041797745890">+41 79 7745890</a>
</div> 
        </div>
    </div>
</div>